<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="filePath" value="C:\Users\rahul\OneDrive\Desktop\ASP.NET\TournamentTracker\Files"/>
		<add key="senderEmail" value="admin@gmail.com"/>
	</appSettings>
	<connectionStrings>
		<add name="tournaments" connectionString="Data Source=LAPTOP-02FQHGU4\SQLEXPRESS;Initial Catalog=Tournaments;Integrated Security=True" />
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>